---
import '../styles/tailwind.css';
import HeaderAndHero from '../components/HeaderAndHero.astro';
import EcosystemSection from '../components/EcosystemSection.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Experimental | Erthaloka</title>
  </head>
  <body>
    <HeaderAndHero />
    <EcosystemSection />
  </body>
</html>
